RTE/
Debug/
settings/
OUT/
DebugConfig/
Listings/
Objects/
.metadata/
*.uvguix.*
*.uvgui.*
*.dep
*.exe
*.log
*.csv
*.txt
*.ini
*.xlsx
*.bmp
*.txt
*.ini
*.dep
*.scvd
*.o
*.ewt
*.custom_argvars
*.project

	
